._*.*
._*
ThirdPartyLegalNotices.txt
bin/
garrysmod/addons/
garrysmod/bin/
garrysmod/cfg/
garrysmod/clientside_errors.txt
garrysmod/console.log
garrysmod/detail.vbsp
garrysmod/download/
garrysmod/downloadlists/
garrysmod/gameinfo.txt
garrysmod/gamemodes/base/
garrysmod/gamemodes/sandbox/
garrysmod/gamemodes/terrortown/
garrysmod/gamemodes/hl2rp/
garrysmod/garrysmod.ver
garrysmod/html/
garrysmod/lua/autorun/
garrysmod/lua/derma/
garrysmod/lua/drive/
garrysmod/lua/entities/
garrysmod/lua/flux/
garrysmod/lua/includes/
garrysmod/lua/matproxy/
garrysmod/lua/menu/
garrysmod/lua/postprocess/
garrysmod/lua/send.txt
garrysmod/lua/skins/
garrysmod/lua/vgui/
garrysmod/lua/weapons/
garrysmod/maps/
garrysmod/particles/
garrysmod/resource/
garrysmod/scenes/
garrysmod/schema.lua
garrysmod/settings/
garrysmod/steam.inf
platform/
sourceengine/
steam_appid.txt
steamapps/
*.exe
*.lnk
*.db
*.old
*.cache
*.vpk
*.rad
*.bat
*.local.yml
